

.navbar {
    padding-left: 5px;
}

a {
    color:ghostwhite;
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 2px pink;
    color:#7DF9FF;
}

.fa-trash-can {
    color:red;
}

.fa-trash-can:hover {
    color:white;
}

.fa-users {
    color:green
}

.fa-users:hover {
    color:white;
}

.fa-file-pen {
    color:#0DCAF0;
}

.fa-file-pen:hover {
    color:white;
}

.fa-sack-dollar {
    color:gold
}

.fa-sack-dollar:hover {
    color:white;
}

