<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresas</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://kit.fontawesome.com/8362d0f2b1.js" crossorigin="anonymous"></script>
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>
<body>

<main class="d-flex mt-4  " style="
    margin-right: 40px;
    margin-left: 40px;">
<div class="container-fluid"><!--Dibujamos la tabla-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<a th:inline="text" class="navbar-brand" href="#">User: [[${#httpServletRequest.remoteUser}]]</a>-->
        <!--<p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>-->
        <!--<img class="img-fluid" src="/imgs/lg_SuperMasters3.png" height="100" width="100" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="logo-bar" >
            <a class="navbar-brand" href="#"><i class="fa-brands fa-uncharted">    Super Masters</i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse menu-sg show" id="navbarSupportedContent" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/empresas/new}">Agregar nueva Empresa</a>
                        <a class="dropdown-item" th:href="@{/empleados}">Ir a lista de Empleados</a>
                        <a class="dropdown-item" th:href="@{/movimientos}">Ir a lista de Movimientos</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" style="font-size: small;"><i class="fa-solid fa-right-from-bracket"> Sign Out</i></a>
                </li>
            </ul>

        </div>
    </nav>
    <!--<p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>-->
    <table class="table table-light table-bordered text-center table-hover shadow p-3 mb-5 bg-white rounded">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Nit</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Empleados</th>
            <th>Movimientos</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr th:each="empresa: ${empresas}">
            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.nit}"></td>
            <td class="text-center"> <a class="btn" th:href="@{/empresas/edit/{id}(id=${empresa.id})}"><i class="fa-sharp fa-solid fa-file-pen icon-border"></i></a></td>
            <td class="text-center"> <a class="btn" th:href="@{/empresas/delete/{id}(id=${empresa.id})}"><i class="fa-sharp fa-solid fa-trash-can icon-border"></i></a></td>
            <td class="text-center"><a class="btn" th:href="@{/empleados/empresa/{id}(id=${empresa.id})}"><i class="fa-solid fa-users icon-border"></i></a></td>
            <td class="text-center"><a class="btn" th:href="@{/movimientos/empresa/{id}(id=${empresa.id})}"><i class="f fa-solid fa-sack-dollar icon-border"></i></a></td>
        </tr>
        </tbody>
    </table>

</div>
</main>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${message}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
        }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>
</body>
</html>